#content {
    padding-bottom: 30px;
    outline: none
}

#content:after {
    content: "";
    display: block;
    clear: both
}

#content {
    max-width: 960px;
    margin: 0 15px
}

@media (min-width: 641px) {
    #content {
        margin:0 30px
    }
}

@media (min-width: 769px) {
    #content {
        padding-bottom:90px
    }
}

@media (min-width: 1020px) {
    #content {
        margin:0 auto
    }
}

.button {
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: .526315em .789473em .263157em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 1px solid transparent;
    outline-offset: -1px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}
.button:link, .button:link:focus, .button:hover, .button:focus, .button:visited {
    color: #fff;
}
.button:visited {
    background-color: #00823b;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  table th,
  table td {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    padding: 0.63158em 1.05263em 0.47368em 0;
    text-align: left;
    border-bottom: 1px solid #bfc1c3;
    }
    @media (min-width: 641px) {
      table th,
      table td {
        font-size: 19px;
        line-height: 1.31579; } }
  table th {
    font-weight: 700; }
  table td:last-child,
  table th:last-child {
    padding-right: 0; }
  table .numeric {
    text-align: right; }
  table td.numeric {
    font-family: "ntatabularnumbers", "nta", Arial, sans-serif; }
  table caption {
    text-align: left; }

.table-font-xsmall th {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286; }
  @media (min-width: 641px) {
    .table-font-xsmall th {
      font-size: 16px;
      line-height: 1.25; } }

.table-font-xsmall td {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286; }
  @media (min-width: 641px) {
    .table-font-xsmall td {
      font-size: 16px;
      line-height: 1.25; } }

.table-font-xsmall th,
.table-font-xsmall td {
  padding: 0.75em 1.25em 0.5625em 0; }