{% extends "layouts/govuk_template.html" %}

{% block head %}
<link href="css/app.css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
<main id=content>
<h1>Success!</h1>
<p>You have successfully logged in as <em>{{user.firstName}} {{user.surname}}</em> at level of assurance {{user.levelOfAssurence}}.</p>
<p>This is only a stub service. In a real service you'd be able to interact with the government now.</p>
</main>
{% endblock %}

