{% extends "layouts/govuk_template.html" %}

{% block head %}
<link href="/css/app.css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
<main id="content">
<h2 id="heading-non-matching" class="heading-medium">Attributes for user with pid: {{identity.pid}} (LOA: {{identity.levelOfAssurance}})</h2>
<p>
<table>
    <thead>
        <tr>
            <th>Attribute Name</th>
            <th>Attribute Value</th>
            <th>Attribute Verified</th>
            <th>From</th>
            <th>To</th>
        </tr>
    </thead>
    <tbody>
        {% for firstname in identity.attributes.firstNames %}
          <tr>
              <td><code>First Name</code></td>
              <td><code>{{firstname.value}}</code></td>
              <td><code>{{firstname.verified}}</code></td>
              <td><code>{{firstname.from}}</code></td>
              <td><code>{{firstname.to}}</code></td>
          </tr>
        {% endfor %}
        {% for middlename in identity.attributes.middleNames %}
          <tr>
              <td><code>Middle Name</code></td>
              <td><code>{{middlename.value}}</code></td>
              <td><code>{{middlename.verified}}</code></td>
              <td><code>{{middlename.from}}</code></td>
              <td><code>{{middlename.to}}</code></td>
          </tr>
        {% endfor %}
        {% for surname in identity.attributes.surnames %}
          <tr>
              <td><code>Surname</code></td>
              <td><code>{{surname.value}}</code></td>
              <td><code>{{surname.verified}}</code></td>
              <td><code>{{surname.from}}</code></td>
              <td><code>{{surname.to}}</code></td>
          </tr>
        {% endfor %}
        {% for dob in identity.attributes.datesOfBirth %}
          <tr>
              <td><code>Date of Birth</code></td>
              <td><code>{{dob.value}}</code></td>
              <td><code>{{dob.verified}}</code></td>
              <td><code>{{dob.from}}</code></td>
              <td><code>{{dob.to}}</code></td>
          </tr>
        {% endfor %}
    </tbody>
</table>
</p>
{% if identity.attributes.addresses %}
    <h2 class="heading-medium">Addresses</h2>
    <p>
        <table>
            <tbody>
            {% for address in identity.attributes.addresses %}
                {% set index = loop.index %}
                {% for addressKey, addressValue in address %}
                    {% if addressKey == 'value' %}
                        {% for addressDataKey, addressDataValue in addressValue %}
                            <tr class="{{ 'row-odd' if (index % 2) else 'row-even' }}">
                                <td/>
                                <td><code>{{addressDataKey}}</code></td>
                                <td><code>{{addressDataValue}}</code></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="{{ 'row-odd' if (index % 2) else 'row-even' }}">
                            <td><code>{{addressKey}}</code></td>
                            <td><code>{{addressValue}}</code></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr style="border:none"><td>&nbsp;</td></tr>
            {% endfor %}
            <tbody>
        </table>
    </p>
{% endif %}
<h3 class="heading-small">Raw JSON view</h3>
<code style="white-space: pre;">{{ identity | dump('\t') }}</code>
</main>
{% endblock %}

