{% extends "layouts/govuk_template.html" %}

{% block head %}
<link href="css/app.css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
<main id="content">
<h2 class="heading-medium">Attributes for user with pid: {{user.pid}}</h2>
<p>
<table>
    <thead>
        <tr>
            <th>Attribute Name</th><th>Attribute Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>First Name</td>
            <td><code>{{user.attributes.firstName.value}}</code></td>
        </tr>
        {% for attribute in user.attributes.middlenames %}
          <tr>
              <td><code>Middle Name</td>
              <td><code>{{attribute.value}}</code></td>
          </tr>
        {% endfor %}
        {% for attribute in user.attributes.surnames %}
          <tr>
              <td><code>Surname</td>
              <td><code>{{attribute.value}}</code></td>
          </tr>
        {% endfor %}
        <tr>
            <td><code>Date Of Birth</td>
            <td><code>{{user.attributes.dateOfBirth.value}}</code></td>
        </tr>
    </tbody>
</table>
</p>
{% if user.attributes.address %}
    <h2 class="heading-medium">Current Address</h2>
    <p>
        <table>
            <thead>
                <th>Attribute Name</th><th>Attribute Value</th>
            </thead>
            {% for addressKey, addressValue in user.attributes.address %}

                <tbody>
                    <tr>
                        <td><code>{{addressKey}}</code></td>
                        <td><code>{{addressValue}}</code></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </p>
{% endif %}
{% if user.attributes.addressHistory %}
    <h2 class="heading-medium">Address History</h2>
    {% for address in user.attributes.addressHistory %}
        <h2 class="heading-medium">Address {{loop.index}}</h2>
        <p>
            <table>
                <thead>
                    <th>Attribute Name</th><th>Attribute Value</th>
                </thead>
                {% for addressKey, addressValue in address %}
                    <tbody>
                        <tr>
                            <td><code>{{addressKey}}</code></td>
                        <td><code>{{addressValue}}</code></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        <p>
    {% endfor %}
{% endif %}
</main>
{% endblock %}

